/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.canvas{
    padding-top: 0;
}

.menuToggle{
    top: 0;
    right: 0;
}