.signInButton{
    background-color: #fff;
    border-radius: 5px;
}

.pure-form input[type]{
    margin-bottom: 0;
}

.loginHeading{
    color: #fff;
    text-shadow: 2px 2px 2px black;
}