html, body{
    width: 100%;
    height: 100%;
}

.pure-g > home-card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main {
    text-align: left;
}

.pull-left{
    float: left;
}

::-webkit-scrollbar {
  width: 5px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
  background:#191818;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
    background:rgba(31, 141, 214, 1);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
  background:#191818;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

a{
    color: inherit;
}

#video{
    width: 100%;
    max-height: 640px;
}